<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homework2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="编辑信息"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PersonInfo"
            android:label="个人信息">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserResigter"
            android:label="用户注册">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_RE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SimpleCalculaor"
            android:label="SimpleCalculator">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_CA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".PersonalInfo"
            android:label="个人信息">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_PE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>